*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.searchbox{
    width: 400px;
    margin: 200px auto;
}
#search{
    width: 366px;
    padding: 10px 15px;
    font-family: "Microsoft Yahei", serif;
}
#reminder{
    width: 398px;
    border: 1px solid #000000;
    border-top: none;
    font: 14px/1.5 arial;
    text-align: left;
}
#reminder li{
    padding: 5px 15px;
    font-family: "Microsoft Yahei", serif;
}
/*#reminder li:hover{*/
    /*background-color: #999999;*/
/*}*/