*{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    box-sizing: border-box;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix:after{
    *zoom: 1;
}
ul{
    text-align: center;
    list-style: none;
}
#wrap{
    width: 90%;
    min-width: 700px;
    margin: 0 auto;

}
h1{
    padding: 30px 0;
    text-align: center;
}
.box1{
    float: left;
    position: relative;
    width: 252px;
    height: 500px;
    margin-left: 10%;
    border: 1px solid #666666;
    box-sizing: border-box;
}
.box2{
    float: right;
    position: relative;
    width: 252px;
    height: 500px;
    margin-right: 10%;
    border: 1px solid #666666;
    box-sizing: border-box;
}
li{
    position: absolute;
    list-style: none;
    left: 0;
    width: 250px;
    height: 60px;
    border: 1px solid #000000;
    background-color: #8c2300;
}
