*{
    margin: 0;
    padding: 0;
}
.alert{
    color: red;
    font-size: 12px;
}
#wrap{
    margin: 20px 20px;
    box-sizing: border-box;
}
#wrap2 ol{
    margin-left: 65px;
    font: 16px/1.8em arial;
}